<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<h1>It's our chat</h1>
<div class="messages">
</div>
<form id="send">
    <input type="text" placeholder="Type your message here">
    <button>Send</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>
</body>
</html>