<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<h1>It's our chat</h1>
<div class="messages">
</div>
<input type="text" placeholder="Type your message here">
<button>Send</button>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socketServer = io.connect('http://localhost:8082');
    console.log(socketServer);

    var userName = prompt("What`s your name?");
    socketServer.emit("join", userName);
    socketServer.on("message", function (message) {
        var messages = document.getElementsByClassName("messages")[0];
        messages.innerHTML += "<div>" + message + "</div>";
    })
    var button = document.getElementsByTagName("button")[0];
    button.addEventListener("click", function () {
        console.log("Button clicked");
        var input = document.getElementsByTagName("input")[0];
        socketServer.emit("message", input.value);



    })
</script>
</body>
</html>